<a href="https://colab.research.google.com/github/kwangwonland/kfq_ML_2023/blob/main/0705_%EB%82%98%EC%9D%B4%EB%B8%8C%EB%B2%A0%EC%9D%B4%EC%A6%88_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
from sklearn.datasets import load_iris

In [9]:
iris=load_iris()
data=iris.data
label=iris.target

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(data,label)

In [17]:
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [18]:
m1=GaussianNB()
m2=KNeighborsClassifier()
m3=LogisticRegression()
m4=DecisionTreeClassifier()
m5=RandomForestClassifier()
m6=SVC()
for model in [m1,m2,m3,m4,m5,m6]:
    print("###",model.__class__.__name__)
    model.fit(x_train,y_train)
    model.fit(x_train,y_train)
    pred=model.predict(x_test)
    print(accuracy_score(y_test,pred))

### GaussianNB
0.9210526315789473
### KNeighborsClassifier
0.9210526315789473
### LogisticRegression
0.9210526315789473
### DecisionTreeClassifier
0.8947368421052632
### RandomForestClassifier

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8947368421052632
### SVC
0.9473684210526315

# 스팸필터 실습

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
email_list = [
                {'email title': 'free game only today', 'spam': True},
                {'email title': 'cheapest flight deal', 'spam': True},
                {'email title': 'limited time offer only today only today', 'spam': True},
                {'email title': 'today meeting schedule', 'spam': False},
                {'email title': 'your flight schedule attached', 'spam': False},
                {'email title': 'your credit card statement', 'spam': False}
             ]
df = pd.DataFrame(email_list)

In [24]:
le = LabelEncoder()
df['label'] = le.fit_transform(df['spam'])
df

                                email title   spam  label
0                      free game only today   True      1
1                      cheapest flight deal   True      1
2  limited time offer only today only today   True      1
3                    today meeting schedule  False      0
4             your flight schedule attached  False      0
5                your credit card statement  False      0

In [29]:
sd = df['email title']
label = df['label']

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
cv=CountVectorizer()
data=cv.fit_transform(sd)

In [32]:
data.toarray()

array([[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 2, 0, 0, 1, 2, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1]])

In [34]:
cv.get_feature_names_out()

array(['attached', 'card', 'cheapest', 'credit', 'deal', 'flight', 'free',
       'game', 'limited', 'meeting', 'offer', 'only', 'schedule',
       'statement', 'time', 'today', 'your'], dtype=object)

In [35]:
from sklearn.naive_bayes import BernoulliNB

In [36]:
x_train,x_test,y_train,y_test=train_test_split(data,label)

In [44]:
model=BernoulliNB()
model.fit(x_train,y_train)
pred=model.predict(x_test)
accuracy_score(y_test,pred)

1.0

In [45]:
# 테스트 데이터 다듬기
test_email_list = [
                {'email title': 'free flight offer', 'spam': True},
                {'email title': 'hey traveler free flight deal', 'spam': True},
                {'email title': 'limited free game offer', 'spam': True},
                {'email title': 'today flight schedule', 'spam': False},
                {'email title': 'your credit card attached', 'spam': False},
                {'email title': 'free credit card offer only today', 'spam': False}
             ]
test_df = pd.DataFrame(test_email_list)
test_df['label'] = test_df['spam'].map({True:1,False:0})
test_x=test_df["email title"]
test_y=test_df["label"]
x_testcv=cv.transform(test_x)

In [46]:
email_list = [
                {'email title': 'free game only today', 'spam': True},
                {'email title': 'cheapest flight deal', 'spam': True},
                {'email title': 'limited time offer only today only today', 'spam': True},
                {'email title': 'today meeting schedule', 'spam': False},
                {'email title': 'your flight schedule attached', 'spam': False},
                {'email title': 'your credit card statement', 'spam': False},
                {'email title': 'free flight offer', 'spam': True},
                {'email title': 'hey traveler free flight deal', 'spam': True},
                {'email title': 'limited free game offer', 'spam': True},
                {'email title': 'today flight schedule', 'spam': False},
                {'email title': 'your credit card attached', 'spam': False},
                {'email title': 'free credit card offer only today', 'spam': False}
             ]
df = pd.DataFrame(email_list)

In [47]:
le = LabelEncoder()
df['label'] = le.fit_transform(df['spam'])
df

                                 email title   spam  label
0                       free game only today   True      1
1                       cheapest flight deal   True      1
2   limited time offer only today only today   True      1
3                     today meeting schedule  False      0
4              your flight schedule attached  False      0
5                 your credit card statement  False      0
6                          free flight offer   True      1
7              hey traveler free flight deal   True      1
8                    limited free game offer   True      1
9                      today flight schedule  False      0
10                 your credit card attached  False      0
11         free credit card offer only today  False      0

In [48]:
sd = df['email title']
label = df['label']

In [49]:
cv=CountVectorizer()
data=cv.fit_transform(sd)

In [50]:
cv.get_feature_names_out()

array(['attached', 'card', 'cheapest', 'credit', 'deal', 'flight', 'free',
       'game', 'hey', 'limited', 'meeting', 'offer', 'only', 'schedule',
       'statement', 'time', 'today', 'traveler', 'your'], dtype=object)

In [54]:
x_train,x_test,y_train,y_test=train_test_split(data,label,test_size=0.5)

In [55]:
model=BernoulliNB()
model.fit(x_train,y_train)
pred=model.predict(x_test)
accuracy_score(y_test,pred)

0.6666666666666666